@import 'pismena.css';

#datum, #cas {
    position: relative;
}

.alert-danger, .alert-success {
    width: 23vw;
    margin: 0 auto;
    margin-top: 20px;
}

.gj-picker-bootstrap [role="header"] {
    color: white;
    background: rgb(67, 116, 191);
}

.gj-picker-bootstrap .selected {
    color: #d7d7d7;
}

.input-group-append {
    position: absolute;
}

.input-group {
    width: 85%;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.modal {
    background: rgba(000, 000, 000, 0.8);
    min-height: 1000000px;
}

.upload {
    width: auto;
}

@media (max-width: 991px) {
    .dateTimePicker {
        margin-top: 8px;
    }

    .alert-danger {
        width: 30vw;
    }
}

@media (max-width: 767px) {
    .input-group {
        width: 94%;
    }

    .alert-danger {
        width: 55vw;
    }
}

@media (max-width: 540px) {
    .input-group {
        width: 91%;
    }

    .alert-danger {
        width: 60vw;
    }
}

@media (max-width: 393px) {
    .input-group {
        width: 84%;
    }

    .alert-danger {
        width: 80vw;
    }
}