@import 'pismena.css';

html,
li, p, a, span,
h1, h2, h3, h4, h5, h6{
    font-family: RalewayRegular, serif;
}

.sidebar .logo .simple-text {
    display: inline;
    margin-left: 10px;
}

.sidebar .logo {
    margin: 0 auto;
    width: 70%;
}

#obrazok{
    width: 28px;
    height: 35px;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box-icon {
    border-radius: 2px 0 0 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    padding-left: 26px;
    font-size: 45px;
    line-height: 90px;
    color: white;
    background: rgb(67, 116, 191);
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    text-overflow: ellipsis;
}