@import 'pismena.css';

html,
li, p, a, span,
h1, h2, h3, h4, h5, h6 {
    font-family: RalewayRegular, serif;
}

.eq {
    display: none;
}

#obrazok {
    width: 28px;
    height: 35px;
}

#mapa {
    position: relative;
    width: 100%;
    height: calc(100% - 127px);
    border: none;
}

.editovat {
    color: #2071a1;
}

.editovat:hover {
    cursor: pointer;
}

.odstranit {
    color: red;
}

.odstranit:hover {
    cursor: pointer;
}

.prijat, .akceptovat {
    color: green;
}

.prijat:hover, .akceptovat:hover {
    cursor: pointer;
}

.odmietnut, .blokovat {
    color: #ffc1a9;
}

.odmietnut:hover, .blokovat:hover {
    cursor: pointer;
}

.fa {
    display: inline;
}

.editovat, .odstranit, .prijat, .akceptovat, .odmietnut, .blokovat {
    margin-left: 5px;
}

td, th {
    font-family: RalewayRegular, serif;
    text-align: center;
}

th.cennik-operacie, .cennik-operacie {
    text-align: right;
}

.zaujmy-miesta {
    text-align: center;
}

a.nahlad {
    position: relative;
    margin: 5px 5px 0 -2px;
    text-decoration: none;
    color: black;
}

a.nahlad img {
    position: absolute;
    z-index: 999;
    display: none;
    width: 250px;
    left: 0;
    top: -20px;
}

a.nahlad:hover img {
    display: block;
    top: 20px;
}

#okresy, #mesta-obce {
    position: absolute;
    width: 90%;
    cursor: pointer;
    overflow-y: auto;
    max-height: 200px;
    box-sizing: border-box;
    z-index: 1001;
}

.okres-mesta-obce-odpoved:hover {
    background-color: #f1f1f1;
}

.table-responsive {
    overflow: auto;
}

.sidebar .logo .simple-text {
    display: inline;
    margin-left: 10px;
}

.sidebar .logo {
    margin: 0 auto;
    width: 70%;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box-icon {
    border-radius: 2px 0 0 2px;
    display: inline;
    float: left;
    height: 90px;
    width: 90px;
    font-size: 45px;
    line-height: 90px;
    color: white;
    background: rgb(67, 116, 191);
    text-align: center;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    background-color: transparent;
    color: #13a152;
    border-color: #13a152;
}

.btn-success, .btn-success, .btn-success, .btn-success, .open > .btn-success.dropdown-toggle {
    background-color: transparent;
    color: #4ba155;
    border-color: #4ba155;
}

.btn.btn-outline-secondary.border-left-0 {
    width: 40px;
    height: 40px;
    border: solid 1px;
}

.btn.btn-default {
    border-color: rgb(67, 116, 191);
    color: rgb(67, 116, 191);
}