@import 'pismena.css';

html {
    background: url(../img/udalosti_pozadie.jpg) no-repeat fixed center;
    background-size:cover;
}

body {
    display: table-cell;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    text-align: center;
    background-color: inherit;
}

p, a, li, ul, pre{
    font-family: RalewayRegular, serif;
}

footer {
    width: 100vw;
    position:  absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.61);
}

body.telo {
    display: inline-block;
    width: 200px; height: 200px;
}

.logo {
    width: 300px;
    height: 65px;
    margin: 0 auto 20px;
}

.logo-stred{
    display: inline-block;
}

img#obrazok {
    width: 50px;
    height: 60px;
}

h1#nazov {
    font-family: RalewayMedium, serif;
    font-size: 3.5em;
    color: white;
    margin-left: 20px;
}

#nazov {
    margin: 0;
    padding-bottom: 30px;
    float: right;
}

input[type="text"], input[type="password"] {
    width: 300px;
    height: 40px;
    font-family: RalewayRegular, serif;
    color: white;
    background: transparent;
    border-radius: 25px;
    border: 2px solid white;
    margin-bottom: 20px;
    padding-left: 10px;
    text-align: center;
}

input[type="submit"] {
    width: 300px;
    height: 45px;
    font-family: RalewayRegular, serif;
    color: white;
    background: #0397d6;
    border-radius: 25px;
    border: 2px solid transparent;
    margin-bottom: 25px;
    text-align: center;
}

input[type="submit"]:hover {
    background: #037cb0;
}

::placeholder {
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

.formular_prihlasenie, .formular_zabudnute_heslo, .formular_obnovenie_hesla{
    width: 320px;
    margin: 0 auto;
}

.telo {
    margin-bottom: 20px;
}

.telo > #zabudnute_heslo{
    font-family: RalewayRegular, serif;
    color: white;
}

.telo > #zabudnute_heslo:hover{
    color: #0397d6;
    cursor:pointer;
}

#email_zabudnute{
    display: none;
}

#poslat{
    display: none;
}

footer.pata > p {
    font-family: RalewayRegular, serif;
    text-align: right;
    color: white;
    margin: 0;
    padding: 5px;
}

@media (max-width: 540px) {
    html {
        background: url(../img/udalosti_pozadie_mobile.jpg) no-repeat center;
    }

    input[type="text"], input[type="password"] {
        width: 295px;
        height: 40px;
    }

    input[type="submit"] {
        width: 305px;
        height: 40px;
    }

    .telo > #zabudnute_heslo{
        font-size: 0.9em;
    }

    .pata > p {
        font-size: 0.8em;
    }
}