@import 'pismena.css';

html {
    background: url(../img/udalosti_pozadie.jpg) no-repeat fixed center;
    background-size:cover;
}

body {
    display: table-cell;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    text-align: center;
}

footer {
    width: 100vw;
    position:  absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.61);
}

body.prihlasovanie {
    display: inline-block;
    width: 200px; height: 200px;
}

.logo {
    width: 300px;
    height: 65px;
    margin: 0 auto;
}

img#obrazok {
    width: 55px;
    height: 70px;
}

#obrazok {
    padding-top: 25px;
    float: left;
}

h1#nazov {
    font-family: RalewayRegular, serif;
    font-size: 3.5em;
    color: white;
}

#nazov {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    float: right;
}

input[type="text"], input[type="password"] {
    width: 300px;
    height: 40px;
    font-family: RalewayRegular, serif;
    color: white;
    background: transparent;
    border-radius: 25px;
    border: 2px solid white;
    margin-bottom: 20px;
    display: block;
    padding-left: 10px;
    text-align: center;
}

input[type="submit"] {
    width: 310px;
    height: 45px;
    font-family: RalewayRegular, serif;
    color: white;
    background: #0397d6;
    border-radius: 25px;
    border: 2px solid transparent;
    margin-bottom: 25px;
    text-align: center;
}

input[type="submit"]:hover {
    background: #037cb0;
}

.formular_prihlasenie{
    width: 320px;
    margin: 0 auto;
}

.prihlasovanie > #zabudnute_heslo{
    font-family: RalewayRegular, serif;
    color: white;
}

.prihlasovanie > #zabudnute_heslo:hover{
    color: #0397d6;
    cursor:pointer;
}

.formular_zabudnute_heslo{
    width: 320px;
    margin: 0 auto;
}

#email_zabudnute{
    display: none;
}

#poslat{
    display: none;
}

footer.pata > p {
    font-family: RalewayRegular, serif;
    text-align: right;
    color: white;
    margin: 0;
    padding: 5px;
}